.header {
    height: var(--header-heigt);
    background-image: linear-gradient(0, #ff6533, #f53d2d);
}

.header__navbar {
    display: flex;
    justify-content: space-between;
}
.header__navbar-list {
    margin: 4px 0 0 0;
}
.header__navbar-item {
    margin: 0 8px;
    position: relative;
    min-height: 26px;
}
.header__navbar-item--has-qr:hover .header__qr {
    display: block;
}

.header__navbar-item--has-notify:hover .header__notify {
    display: block;
}

.header__navbar-item,
.header__navbar-item-link {
    display: inline-block;
    font-size: 1.4rem;
    color: var(--white-color);
    text-decoration: none;
    font-weight: 300;
}

.header__navbar-item,
.header__navbar-item-link,
.header__navbar-icon-link {
    display: inline-flex;
    align-items: center;
}

.header__navbar-item:hover,
.header__navbar-icon-link:hover,
.header__navbar-item-link:hover {
    color: rgba(255, 255, 255, 0.7);
    cursor: pointer;
}

.header__navbar-item--strong {
    font-weight: 400;
}

.header__navbar-item--separate::after {
    content: "";
    display: block;
    position: absolute;
    border-left: 1px solid #fa8f82;
    right: -9px;
    top: 50%;
    height: 14px;
    transform: translateY(-50%);
}

.header__navbar-icon-link {
    color: var(--white-color);
    text-decoration: none;
}

.header__navbar-icon {
    font-size: 1.4rem;
    margin: 0 4px;
}

.header__navbar-item-title--nopointer {
    cursor: text;
    color: var(--white-color);
}

/* Header_QR */
.header__qr {
    width: 186px;
    background-color: var(--white-color);
    position: absolute;
    left: 0;
    top: 118%;
    padding: 8px;
    border-radius: 4px;
    display: none;
    animation: fadeIn ease-in 0.1s;
}
.header__qr::before {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 20px;
    top: -12px;
    left: 0;
}

.header__qr-img {
    width: 100%;
}

.header__qr-apps {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.header__qr-link:nth-child(1) {
    margin-left: 11px;
}
.header__qr-link:nth-child(2) {
    margin-left: 11px;
}

.header__qr-link:last-child {
    margin-left: 11px;
}

.header__qr-download-img {
    height: 16px;
}

.fa-solid,
.fa-chevron-down {
    margin-left: 5px;
}

/* Notify */

.header__notify {
    position: absolute;
    width: 404px;
    top: 100%;
    right: 0;
    background-color: var(--white-color);
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 2px;
    cursor: default;
    transform-origin: calc(100% - 15px) top;
    animation: headerNotifyGrowth ease-in 0.2s;
    /* Ease-in : Chậm -> nhanh */
    display: none;
    will-change: opacity, transform;
}

.header__notify::before {
    content: "";
    border-width: 20px 27px;
    border-style: solid;
    border-color: transparent transparent var(--white-color) transparent;
    right: 12px;
    top: -25px;
    position: absolute;
}

.header__notify::after {
    content: "";
    display: block;
    position: absolute;
    width: 90px;
    height: 14px;
    top: -14px;
    right: 4px;
}

.header__notify-header {
    height: 40px;
    background-color: var(--white-color);
}
.header__notify-header h3 {
    color: #999;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 40px;
    margin-left: 6px;
    user-select: none;
}
.header__notify-list {
}

.header__notify-item {
    display: flex;
}

.header__notify-item:hover {
    background-color: #f7f7f7;
}

.header__notify-item--viewed {
    background-color: rgba(238, 77, 45, 0.09);
}

.header__notify-link {
    display: flex;
    padding: 12px;
    text-decoration: none;
    width: 100%;
}

.header__notify-img {
    width: 48px;
    object-fit: cover;
    max-height: 50px;
}

.header__notify-info {
    margin-left: 12px;
}

.header__notify-name {
    display: block;
    font-size: 1.4rem;
    color: var(--text-color);
    font-weight: 400;
    line-height: 1.8rem;
}

.header__notify-desc {
    display: block;
    font-size: 1.2rem;
    color: #756f6e;
    margin-top: 4px;
    line-height: 1.4;
}

.header__notify-footer {
    display: flex;
}
.header__notify-footer-btn {
    text-decoration: none;
    color: var(--text-color);
    width: 100%;
    font-size: 1.4rem;
    font-weight: 400;
    padding: 8px 0;
    text-align: center;
}



/* Authen form */

.auth-form {
    width: 500px;
    background-color: var(--white-color);
    border-radius: 5px;
    overflow: hidden;
}
.auth-form__container {
    padding: 20px 32px;
}

.auth-form__header {
    padding: 0 12px;
    margin-top: 10px;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.auth-form__heading {
    font-size: 2rem;
    font-weight: 400;
    color: var(--text-color);
}

.auth-form-switch-btn {
    font-size: 1.6rem;
    color: var(--primary-color);
    font-weight: 400;
    cursor: pointer;
}

.auth-form__form {
}

.auth-form__input {
    width: 100%;
    height: 40px;
    margin-top: 16px;
    padding: 0 12px;
    font-size: 1.4rem;
    border: 1px solid var(--border-color);
    border-radius: 2px;
}

.auth-form__input:focus {
    border-color: #777;
}

.auth-form__aside {
    margin-top: 20px;
}

.auth-form__policy-text {
    font-size: 1.5rem;
    padding: 2px 45px;
    text-align: center;
    color: var(--text-color);
}

.auth-form__text-link {
    text-decoration: none;
    color: var(--primary-color);
}

.auth-form__text-link:hover {
    text-decoration: underline;
}

.auth-form__controls {
    display: flex;
    margin-top: 38px;
    justify-content: flex-end;
}

.auth-form__controls-back {
    margin-right: 8px;
}

.auth-form__socials {
    position: relative;
    /* background-color: orange; */
    padding: 16px 36px;
    display: flex;
    justify-content: space-between;
    margin-top: 22px;
    
}

.auth-form__socials-icon{
    font-size: 2rem;
}

.auth-form__socials--facebook{

    color: rgba(24, 119, 242, 1);
    box-sizing: border-box;
    background-color: #fff;
    border-radius: 2px;
    border: 1px solid rgba(0,0,0,.26);

}

.auth-form__socials-title{
    margin: 0 36px;
    color: var(--text-color);
}

.auth-form__socials--google{
    box-sizing: border-box;
    border: 1px solid rgba(0,0,0,.26);
    background-color: #fff;
    border-radius: 2px;
    color: rgb(32 33 36);;


}

/* Login authen form */

.auth-form__help{
    display: flex;
    justify-content: flex-end;
}

.auth-form__help-link{
    text-decoration: none;
    font-size: 1.5rem;
    color: rgba(0,0,0,.26);
}

.auth-form__help-separate{
    display: block;
    height: 20px;
    border: 1px solid var(--border-color);
    margin: 2px 16px 0;
}

.auth-form__forgot-link{
    color: var(--primary-color);
}

/* Header with serach */

.header-with-serach{
     height: var(--header-with-serach-height);
     display: flex;
     align-items: center;
}

.header__logo{
    width: 200px;
}

.header__logo-img{
    width: 155px;
}

.header__serach{
    flex: 1;
    background-color: var(--white-color);
    height: 40px;
    border-radius: 2px;
    display: flex;
    align-items: center;
    text-align: center;
}

.header__cart{
    width: 150px;
    text-align: center;
}

.header__cart-wrap:hover .header__cart-list /* Khi di vào header__cart-wrap sẽ hiện ra header__cart-list */{
    display: block;
}

.header__cart-wrap /*  mặc định kế thừa chiều ngang của div cha nên di vào các vùng xung quanh vẫn hiện, cách fix: cho nó nhỏ lại + bỏ tính chất block của nó bằng inline-block */{
    position: relative;
    display: inline-block;
    padding: 0 12px;
    cursor: pointer;
}



.header__cart-list{

    display: none;
    position: absolute;  
    top: calc(100% + 13px);
    right: 2px;
    background-color: var(--white-color);
    width: 400px;
    border-radius: 2px;
    box-shadow: 0 1px 3.125rem 0 rgba(0, 0, 0, 0.2);
    animation: fadeIn ease-in 0.2s; /* thêm animation fadein để nó hiện mờ mờ từ từ ra */
    
}

/* sử dụng lớp giả để tạo hình vuông dùng transparent: trong suốt */
.header__cart-list::after{
    content: "";
    position: absolute;
    right: 3px;
    top: -27px;
    border-width: 16px 20px;
    border-style: solid;
    border-color: transparent transparent var(--white-color);
}

.header__cart-list--no-cart{
    padding: 24px 0;
}
.header__cart-no-cart-img{
    width: 40%;
}

.header__cart-list-no-cart-msg{
    display: block;
    font-size: 1.5rem;
    margin-top: 20px;
    color: var(--text-color);
 }

.header__cart-icon{
    color: var(--white-color);
    margin-top: 6px;
    font-size: 2.4rem;
}

.header__serach-input-wrap{
        flex: 1;
        height: 100%;
        position: relative;
}

.header__serach-input{
    width: 97%;
    height: 100%;
    outline: none;
    border: none;
    font-size: 1.4rem;
    color: var(--text-color);
    padding: 0 10px;
    border-radius: 2px;
}

.header__serach-btn{
    background-color: var(--primary-color);
    border: none;
    height: 34px;
    width: 60px;
    margin-right: 4px;
    border-radius: 2px;
}

.header__serach-btn:hover{
        background-color: #fb6445;
        cursor: pointer;
}

.header__serach-btn-icon{
    margin-top: 10px;

    font-size: 1.4rem;
    color: var(--white-color);
}

/* Serach history */
.header__serach-input:focus ~ .header__serach-history{
    display: block;
}
.header__serach-history{
    position: absolute;
    top: calc(100% + 8px);
    left: 0;
    width: calc(100% - 20px);
    background-color: var(--white-color);
    border-radius: 2px;
    box-shadow: 0 0 5px #c7c7c7;
    display: none;
    overflow: hidden;
}

.header__serach-history-heading{
    margin: 8px 12px;
    text-align: start;
    font-size: 1.4rem;
    color: #999;
    font-weight: 400;
}
.header__serach-history-list{
    margin: 8px 0 0;
    text-align: start;
}

.header__serach-history-list-item{
    height: 38px;
    padding: 0 12px;

}

.header__serach-history-list-item:hover{
    background-color: #fafafa;
}
.header__serach-history-link{
    display: block;
    text-decoration: none;
    color: var(--text-color);
    line-height: 38px;
    font-size: 1.4rem;
}

